{% extends "base.html" %}

{% block extrahead %}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<script async src="https://ackee.benjaminkomjathy.hu/tracker.js" data-ackee-server="https://ackee.benjaminkomjathy.hu" data-ackee-domain-id="a0598d77-e226-4c3f-a7c7-45b4c3fedb6c"></script>
{% endblock %}